/* Toggle A */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #fff;
}
input:checked ~ .dot-bg {
  background-color: #4aa82d;
}

.gradient-background-t {
  background: linear-gradient(180deg, rgba(17, 29, 27, 0.7) 0%, #000000 100%);
  box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.02);
  border-radius: 0px 0px 10px 10px;
  transform: rotate(-180deg);
}

.gradient-background {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0.91) 37.41%, #000000 100%);
  box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.02);
  border-radius: 0px 0px 10px 10px;
}

.web3modal-modal-lightbox {
  z-index: 90 !important;
}

.create-nft-form-background {
  background: linear-gradient(200.99deg, rgba(255, 255, 255, 0.27) 0%, rgba(255, 255, 255, 0.48) 98.88%);
  border: 0.4px solid rgba(205, 208, 204, 0.4);
  box-sizing: border-box;
  box-shadow: 0px 5px 44px rgba(120, 120, 120, 0.04);
  border-radius: 10px;
}

.all-asset-background {
  background: linear-gradient(180deg, rgba(180, 255, 157, 0.1) 0%, rgba(228, 254, 220, 0.1) 100%);
}

.verified-background {
  background: linear-gradient(180deg, rgba(131, 230, 101, 0.06) 0%, rgba(74, 168, 45, 0) 100%);
  border-radius: 5px;
  // transform: matrix(1, 0, 0, -1, 0, 0);
  transform: rotate(180deg);
}

.transform-rotate-180{
  transform: rotate(180deg);
}

.create-asset-background {
  background: linear-gradient(269.5deg, rgba(249, 253, 248, 0.38) 57.34%, rgba(255, 255, 255, 0.89) 121.41%);
  box-shadow: 12px 14px 14px rgba(0, 0, 0, 0.01);
  border-radius: 10px;
}

.detail-asset-background {
  background: linear-gradient(250.93deg, rgba(249, 253, 248, 0.6) 66.99%, rgba(255, 255, 255, 0.89) 74.52%);
  box-shadow: 12px 14px 14px rgba(0, 0, 0, 0.01);
  border-radius: 10px;
}

.table-background {
  background: linear-gradient(162.96deg, #f8fff7 -2.21%, rgba(255, 255, 255, 0) 88.27%);
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.03));
  border-radius: 10px;
}

.inactive-picker-background {
  background: linear-gradient(
    105.01deg,
    rgba(211, 251, 199, 0.3) 19.06%,
    rgba(174, 216, 162, 0.285) 50.64%,
    rgba(203, 255, 187, 0) 149.43%
  );
}

.circle-picker-background {
  background: linear-gradient(200.56deg, #dfeeda 3.41%, rgba(104, 189, 80, 0.5) 86.36%);
}

.rdt_Table {
  background: linear-gradient(162.96deg, #f8fff7 -2.21%, rgba(255, 255, 255, 0) 88.27%);
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.03));
  border-radius: 10px;

  .rdt_TableBody {
    background: transparent;
    .rdt_TableRow {
      background: transparent;
      .rdt_TableCell {
        background: transparent;
      }
    }
  }
  .rdt_TableHead {
    background: transparent;
    .rdt_TableHeadRow {
      background: transparent;
      .rdt_TableCol {
        background: transparent;
      }
      .rdt_TableCol_Sortable {
        background: transparent;
      }
    }
  }
}

.slider-demo .p-slider-horizontal,
.slider-demo .p-inputtext {
  width: 14rem;
}
.p-slider {
  & .p-component .p-slider-horizontal {
  }
  .p-slider-range {
    background: #4aa82d !important;
    opacity: 1 !important;
  }
  & .p-slider-handle {
    background: #4aa82d !important;
    border: 2px solid #4aa82d !important;
    opacity: 1 !important;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
  }
}

.slider-demo .p-slider-vertical {
  height: 14rem;
}
